
  
  .header {
   
    margin-bottom: 20px;
  }
  
  .heading {
    font-size: 24px;
   
    color: #333;
  }
  
  .productList {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .productItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    gap: 2rem;

  }
  
  .productImage {
    width: 100px;
    height: 100px;
  }
  .closeIcon:hover{
    color: red;
  }
  .productTitle {
    flex: 1 1;
    font-size: 15px;
    color: gray;
    margin-left: 10px;
    font-weight: 500;
  }
  
  .productPrice, .totalPrice {
    font-size: 13px;
    font-weight: 600;
    color: #333;
  }
  
  .quantityContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .quantityLabel {
    font-size: 14px;
    color: #777;
  }
  
  .decrementButton, .incrementButton {
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .decrementButton:hover, .incrementButton:hover {
    background-color: #ddd;
  }
  
  .quantityValue {
    font-size: 16px;
    color: #333;
  }
  .restCart{
    margin: 1.5rem 4rem;
    background: red;
    color: white;
    border: none;
    padding: .5rem 2rem;
    border-radius: 4px;
    transition: 1s;
    cursor: pointer;
  }

  .go-shopping{
    margin-left: 4rem;
    border: none;
    display: flex;
    gap: 5px;
    align-items: center;
    color: gray;
    font-size: 14px;
    cursor: pointer;
  }
  .go-shopping:hover{
    color: black;
  }
  .cartCleard{
    margin: auto;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .cartCleard p{
    font-weight: 400;
    color: red;
  }
  @media  screen and (max-width: 800px) {
    .productItem{
      flex-direction: column;
    }
    .clear{
      display: flex;
      flex-direction: column;
    }
  }